<div class="no-questions">
    <img src="/images/illustration.svg" alt="sem perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta envie o <br> código dessa sala para outras pessoas!</p>
</div>


